.card {
  margin: 15px;
  cursor: pointer;

  &__top {
    position: relative;

    h4 {
      color: white;
      font-weight: 400;
      margin-top: 10px;
    }
  }

  &__img {
    &:hover {
      background: rgba(#fff, .3);
    }
  }

  &__add {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1000;
    width: 30px;
    height: 30px;
  }

  &__bottom {
    display: flex;
    column-gap: 8px;

    ul {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }

    li {
      color: white;
      list-style: none;

      &:first-child {
        color: #F5F5F599;
        list-style: none;
      }
    }

    p {
      color: white;
      background: #0074E4;
      border-radius: 5px;
      padding: 2px 8px 0 8px;
      font-size: 18px;
    }
  }
}