.card {
  margin: 15px;
  cursor: pointer;
  // overflow: hidden;

  // img {
  //   overflow: hidden;
  //   transition: all 2s ease-in-out;

  //   &:hover {
  //     scale: 1.1;
  //   }
  // }

  &__top {

    h4 {
      color: white;
      font-weight: 400;
      margin-top: 10px;
    }
  }
  &__bottom {
    display: flex;
    column-gap: 8px;

    ul {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
    li {
      color: white;
      list-style: none;

      &:first-child {
        color: #F5F5F599;
        list-style: none;
      }
    }
    p {
      color: white;
      background: #0074E4;
      border-radius: 5px;
      padding: 2px 8px 0 8px;
      font-size: 18px;
    }
  }
}