.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #2A2A2A;
  height: auto;
  width: 100%;
  padding: 10px 30px;

  a {
    text-decoration: none;
  }

  &_left {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      column-gap: 28px;
      padding-left: 30px;

      a {
        text-decoration: none;
      }
    }

    li {
      color: #CCCCCC;
      list-style: none;
      font-size: 18px;
      cursor: pointer;

      &:hover {
        color: #fff;
      }
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }

  &__img {
    cursor: pointer;
  }

  &__login {
    display: flex;
    align-items: center;
    margin-right: 15px;

    cursor: pointer;

    img {
      margin-right: 10px;
    }

    p {
      color: #E7E7E7;
      font-size: 18px;
    }
  }

  &_right {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }

    button {
      height: 52px;
      padding: 0 10px;

      color: white;
      font-size: 18px;

      background: #007AFF;
      border: none;
      cursor: pointer;
    }
  }
}